// .box-sel-marker-class {
//   background: gray;
//   border: 1px solid red;
// }

#boxsel-box {
  position: absolute;
  z-index: 10;
  background-color: transparent;
  border: 1px solid red;
}