
#boxsel-cover {
  position: absolute;
  left: 0;
  top:0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: transparent;
}
#boxsel-box {
  position: absolute;
  background-color: transparent;
  border: 1px solid red;
}